body {
  background-color: #dadada;
  font-size: 10px;
}

div {
  margin: 1% 0;
  width: 100%;
  padding: 20px 25px;
}

h1 {
  font-size: 2em;
}

.header {
  margin: auto;
    width: 50%;
}

.container {
justify-content: center;
}

.preview {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  width: 100%;
}

.preview.baku {
  background-image: url("../images/baku.jpg");
}

.preview.london {
  background-image: url("../images/london.png");
}

.preview.madrid {
  background-image: url("../images/madrid.jpg");
}

.preview.rome {
  background-image: url("../images/rome.jpg");
}

@media screen and (min-width: 575px){

.container {
  margin: auto;
}

.preview {
  display: inline-block;
  margin-left: 5px;
  height: 200px;
  width: 45%;
  max-width: 200px;
}

@media screen and (min-width: 1199px){

.container {
  justify-content: center;
}

.preview {
  display: inline-block;
  background-repeat: no-repeat;
  height: 200px;
  width: 25%;
  max-width: 200px;
}

}
